/* Copyright 2009, Red Hat, Inc.
 *
 * Portions adapted from Mx's data/style/default.css
 *   Copyright 2009 Intel Corporation
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU Lesser General Public License,
 * version 2.1, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
 */

/* GNOME Shell - GrayRevenge theme

            designed by Alessandro Roncone http://alecive.deviantart.com/ */

stage {
    font-family: cantarell, sans-serif, Aller;
    font-size: 9pt;
    color: white;
}

.shell-link {
   color: #444;
   text-decoration: underline;
   text-shadow: #222222 0px -1px 1px;
}

.shell-link:hover {
    color: #222;
    text-shadow: #222222 0px -1px 1px;
}

.label-shadow {
    color: rgba(0,40,60,0.0);
}

/* small */
.app-well-menu,
.contact-details-status,
.run-dialog-label,
.run-dialog-error-label {
    font-size: 8pt;
}

/* small bold */
.switcher-list, 
.source-title,
.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
    font-size: 8pt;
    font-weight: bold;
}

StScrollBar
{
  padding: 2px;
  background: transparent;
}

StScrollView StScrollBar
{
  max-width: 8px;
  min-height: 30px;
  background: transparent;
}


StScrollBar StBin#trough {
    background: transparent;
}

StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle
{
  border-radius: 2px;
  padding: 4px;
  background-gradient-direction: vertical;
	background-gradient-start: rgba(61,102,102,0.35);
	background-gradient-end: rgba(61,102,102,0.15);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover
{
	background-gradient-start: rgba(46,76,76,0.35);
	background-gradient-end: rgba(46,76,76,0.15);
    padding: 4px;
}

StTooltip StLabel {
  background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.12);
	background-gradient-end: rgba(255,255,255,0.05);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);

    
  color: #d4d4d4;
  text-shadow: #222222 0px -1px 1px;
  font-size: 8pt;
  padding: 3px 7px;
  -shell-caption-spacing: 12px;
}

/* Check Boxes */

.check-box ShellGenericContainer {
    spacing: .8em;
}

.check-box StBin {
    width: 24px;
    height: 22px;
    background-image: url("checkbox-off.svg");
}

.check-box:focus StBin {
    background-image: url("checkbox-off-focused.svg");
}

.check-box:checked StBin {
    background-image: url("checkbox.svg");
}

.check-box:focus:checked StBin {
    background-image: url("checkbox-focused.svg");
}

/* ################################################## */
/*                      PopupMenu                     */
/* ################################################## */

.popup-menu-boxpointer {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(75,75,75,0.98);
	background-gradient-end: rgba(53,53,53,0.95);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 2px;
}

.popup-menu {
    color: #d4d4d4;
    font-size: 8pt;
    text-shadow: #222222 0px -1px 1px;
}

.popup-submenu-menu-item:open {
    background-color: #353535;
    border-radius: 2px 2px 0px 0px;
    border: 1px solid rgba(111,111,111,0.5);
    border-bottom:none;
}

.popup-sub-menu {
    background-color: #353535;
    border-radius: 0px 0px 2px 2px;
    border: 1px solid rgba(111,111,111,0.5);
    border-top:none;
}

.popup-sub-menu .popup-menu-item:ltr {
    padding-right: 0em;
}

.popup-sub-menu .popup-menu-item:rtl {
    padding-left: 0em;
}

.popup-sub-menu StScrollBar {
    padding: 4px;
}

.popup-sub-menu StScrollBar StBin#trough {
    border-width: 0px;
}

.popup-sub-menu StScrollBar StBin#vhandle {
    background-color: #4c4c4c;
    border-width: 0px;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
    padding: 4px;
}

.popup-menu-item {
    padding: .4em 0.7em;
    spacing: 1em;
    border: 1px solid rgba(111,111,111,0.0);
}

.popup-menu-item:active {
    background-color: rgba(70,100,100,0.7);
    border-radius: 2px;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
    border: 1px solid rgba(111,111,111,0.5);
}

.popup-menu-item:hover {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.12);
	background-gradient-end: rgba(255,255,255,0.05);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
}

.popup-image-menu-item {

}

.popup-combobox-item {
    spacing: 1em;
}

.popup-separator-menu-item {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(111,111,111,0.9);
    background-gradient-end: rgba(63,63,63,0.0);
    width: 0.1em;
    padding: 0em 0.3em;
    height: 0.1em;
}

.popup-alternating-menu-item:alternate {
    font-weight:600;
    font-style: oblique;
    color: #ff0000;
    text-shadow: #222222 0px -1px 1px;
}

.popup-slider-menu-item {
    height: 1.2em;
    min-width: 14em;
    background-color: rgba(53,53,53,0.5);
    border-radius: 2px;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.6);
    border: none;
    color: rgba(111,111,111,0.9);
    text-shadow: white 0px 1px 2px;
    -slider-active-border-color: rgba(100,100,100,1);
  	-slider-active-background-color: rgba(70,130,130,1);
    -slider-border-width: 1px;
    -slider-handle-radius: 0.4em;
    -slider-height: 2px;
}

.popup-device-menu-item {
    spacing: .5em;
}

.popup-inactive-menu-item {
    color: #777;
    text-shadow: #444 0px 1px 1px;
    font-weight: normal;
}

.popup-subtitle-menu-item {
    font-weight: bold;
}

.popup-menu-icon {
    icon-size: 1.1em;
}

/* Switches (to be used in menus) */
.toggle-switch {
    width: 4.35em;
    height: 1.45em;
}

.toggle-switch-us {
    background-image: url("toggle-off.svg");
    background-size: contain;
}
.toggle-switch-us:checked {
    background-image: url("toggle-on.svg");
    background-size: contain;
}

.toggle-switch-intl {
    background-image: url("toggle-off.svg");
    background-size: contain;
}
.toggle-switch-intl:checked {
    background-image: url("toggle-on.svg");
    background-size: contain;
}

.nm-menu-item-icons {
    spacing: .7em;
}
/* ################################################## */
/*                        Panel                       */
/* ################################################## */
#panel {
    background-gradient-direction: vertical;
	background-gradient-start: rgba(55,55,55,0.60);
	background-gradient-end: rgba(55,55,55,0.40);
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.15);
	border: 1px solid rgba(255,255,255,0.15);
    border-top: none;
    border-left: none;
    border-right: none;

    height: 1.86em;
    font-size: 8.5pt;
}

#panelLeft, #panelCenter, #panelRight {
    spacing: 4px;
    font-weight: normal;
    font-size: 9pt;
}

#panelLeft:ltr,
#panelRight:rtl {
    padding-right: 4px;
}

#panelLeft:rtl,
#panelRight:ltr {
    padding-left: 4px;
}

#appMenu {
    spacing: 4px;
}

.panel-status-button,
.panel-button {
    -natural-hpadding: 10px;
    -minimum-hpadding: 5px;
    font-weight: normal;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
    border: 1px solid rgba(111,111,111,0.0);
    transition-duration: 150;
    height: 1.6em;
}

.panel-status-button:hover,
.panel-button:hover {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.12);
	background-gradient-end: rgba(255,255,255,0.05);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
}
.panel-button:active,
.panel-button:checked,
.panel-button:focus,
.panel-status-button:active,
.panel-status-button:checked,
.panel-status-button:focus {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(61,102,102,0.75);
	background-gradient-end: rgba(61,102,102,0.55);
    border-radius: 1px;

	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
}

.panel-button #appMenuIcon {
    width: 0px;
    height: 0px;
    app-icon-bottom-clip: 0px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    app-icon-bottom-clip: 0px;
}

.app-menu-icon {
/*    width: 22px;
    height: 22px;*/
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
	icon-shadow: black 0px 0px 3px;
}

.panel-menu {
    -boxpointer-gap: 4px;
}

#panelUserMenu {
    spacing: 8px;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
}

/* The rounded panel corners we draw don't
 * support transitions, so disable transitions
 * for the buttons at the left/right edges
 */
#panelActivities {
    transition-duration: 0;
    border-radius: 1px;    
}


#panelActivities:hover,
#panelActivities:active,
#panelActivities:overview {
}

#panelStatus {
    transition-duration: 0;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
}

#legacyTray {
    spacing: 14px;
    padding-left: 14px;
}

#legacyTray:rtl {
    padding-left: 0px;
    padding-right: 14px;
}

#legacyTray:compact {
    spacing: 8px;
}

.status-chooser {
    spacing: .4em;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
}

.status-chooser .popup-menu-item,
.status-chooser-combo .popup-menu-item {
    padding: .4em;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
}

.status-chooser-user-icon {
    border: 1px solid rgba(70,100,100,0.0);

    border-radius: 2px;
    width: 48pt;
    height: 48pt;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
}

.status-chooser-user-icon:hover {
    border: 1px solid rgba(70,100,100,0.9);
}

.status-chooser-user-name {
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
    font-weight: 100;
    font-style: oblique;
    font-size: 1.3em;
    text-align: center;
    min-width: 120pt;
}

.status-chooser-combo {
    border: 1px solid transparent;
    font-size: 9pt;
    text-align: center;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
}

.status-chooser-combo.popup-combo-menu {
    background-gradient-direction: vertical;
    background-gradient-start: #4e4e4e;
    background-gradient-end: #353535;
    border-radius: 4px;
    border: 3px solid rgba(150,150,150,0.0);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.6);
    padding: 4pt;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
    font-size: 9pt;
    text-align: center;
}

.status-chooser-status-item,
.status-chooser-combo .popup-combobox-item {
    spacing: .4em;
    text-align: center;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
}

.system-status-icon {
    icon-size: 1.1em;
}

/* ################################################## */
/*                      Overview                      */
/* ################################################## */
#overview {
    spacing: 12px;
    background-color: rgba(115,115,115,0.5);
}

.workspaces-view {
    color: white;
    spacing: 25px;
}

.workspace-controls {
    visible-width: 32px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
    padding: 8px;
}

.workspace-thumbnails {
    spacing: 12px;
}

.workspace-thumbnail-indicator {
    padding: 0px 10px;

    border-radius: 2px;
    outline: 1px solid rgba(250,250,250,0.8);
  	box-shadow: 0px 0px 2px 2px rgba(38,76,76,0.6);
}

.window-caption,
.dash-label {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.12);
	background-gradient-end: rgba(255,255,255,0.05);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 2px;
	padding: 3px;
    
  color: #d4d4d4;
  text-shadow: #222222 0px -1px 1px;
  font-size: 9pt;
  padding: 6px 10px;
  -shell-caption-spacing: 12px;
}

.window-close {
    background-image: url("close-window.svg");
    height: 22px;
    width: 22px;
    -shell-close-overlap: 10px;
    -st-background-image-shadow: -2px 2px 6px rgba(0,0,0,0.5);
}

.window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}
/* ################################################## */
/*                         Dash                       */
/* ################################################## */
#dash {
    font-size: 8.5pt;
    padding: 4px 0px;
}

#dash:rtl {
    border-radius: 12px 0px 0px 12px;
}

#dash:empty {
    height: 100px;
    width: 60px;
}

.placeholder {
    background-image: url("dash-placeholder.svg");
    background-size: contain;
    height: 24px;
}

#viewSelector {
    spacing: 1em;
    font-size: 8.5pt;
}

#viewSelectorTabBar {
    padding: 1em;
}

#searchArea {
    padding: 0px 24px;
}

#searchEntry {
	padding: 4px 8px;
	border-radius: 2px;
	color: #2c2c2c;
	border: 1px solid rgba(255,255,255,0.8);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.7);
	background-gradient-end: rgba(255,255,255,0.9);
	box-shadow: 0px 0px 2px 2px rgba(38,76,76,0.6);
	selected-color: black;
	caret-color: rgb(128, 128, 128);
	caret-size: 1px;
	height: 16px;
	width: 250px;
}

#searchEntry:focus,
#searchEntry:hover {
	color: rgba(90,90,90,0.7);
	border: 1px solid rgba(255,255,255,0.8);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.85);
	background-gradient-end: rgba(255,255,255,1.0);
}

#searchEntry:focus {
	color: #2c2c2c;
	border: 1px solid rgba(255,255,255,0.8);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.85);
	background-gradient-end: rgba(255,255,255,1.0);
}

.search-entry-icon {
    icon-size: 1.4em;
    color: #2c2c2c;
}

.view-tab-title {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(53,53,53,0);
    background-gradient-end: rgba(63,63,63,0);
    border: 1px solid rgba(150,150,150,0);
    padding: 6px;
    border-radius: 2px;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
    height: 1.5em;
    font-size: 9pt;
    text-align: center;
    transition-duration: 300;
}

.view-tab-title:hover {
	background-gradient-start: rgba(255,255,255,0.12);
	background-gradient-end: rgba(255,255,255,0.05);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
}

.view-tab-title:selected {
	background-gradient-start: rgba(61,102,102,0.35);
	background-gradient-end: rgba(61,102,102,0.15);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
  border-radius: 2px;

  color: #ffffff;
  text-shadow: #222222 0px -1px 1px;
  font-weight: bold;
}

.view-tab-title:selected:hover {
	background-gradient-start: rgba(46,76,76,0.35);
	background-gradient-end: rgba(46,76,76,0.15);
}


#viewSelectorTabBar {
    padding: 4px;
    spacing: 12px;
}

#searchResults {
    padding: 10px 10px 10px 10px;
    spacing: 10px;
}

#searchResultsContent {
    padding-right: 20px;
    spacing: 16px;
}

#searchResultsContent:rtl {
    padding-right: 0px;
    padding-left: 20px;
}

.search-statustext,
.search-section-header {
	  padding: 4px 12px;
	  spacing: 4px;
	  color: #fff;
  	font-size: 9pt;
    font-weight: bold;
}

.search-section-results {
	  color: #ffffff;
  	padding: 6px;
}

.search-section-list-results {
    spacing: 4px;
}

.results-container {
    spacing: 4px;
}

.search-providers-box {
    spacing: 12px;
}

.dash-search-button,
.dash-search-button:active,
.dash-search-button:pressed {
    padding: 8px 16px;
  	background-gradient-direction: vertical;
  	background-gradient-start: rgba(255,255,255,0.12);
  	background-gradient-end: rgba(255,255,255,0.05);
  	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
    border-radius: 2px;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
    height: 1.5em;
    font-size: 9pt;
    text-align: center;
    transition-duration: 300;
}

.dash-search-button:focus,
.dash-search-button:selected,
.dash-search-button:hover {
	background-gradient-start: rgba(61,102,102,0.35);
	background-gradient-end: rgba(61,102,102,0.15);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
  	border-radius: 2px;
}

/* ################################################## */
/*                         Apps                       */
/* ################################################## */
.icon-grid {
    spacing: 44px;
    -shell-grid-horizontal-item-size: 84px;
    -shell-grid-vertical-item-size: 84px;
}

.contact-grid {
    spacing: 28px;
    -shell-grid-horizontal-item-size: 208px;
    -shell-grid-vertical-item-size: 104px; /* 2 * -shell-grid-item-size + spacing */
}

.icon-grid .overview-icon {
    icon-size: 52px;
}

.all-app {
    padding: 16px 25px 16px 16px;
    spacing: 20px;
}

.all-app:rtl {
    padding-right: 16px;
    padding-left: 25px;
}


.app-filter {
    height: 28px;
    width: 140px;
    padding: 4px;
    padding-left: 10px;
    transition-duration: 300;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(53,53,53,0);
    background-gradient-end: rgba(63,63,63,0);
    border: 1px solid rgba(150,150,150,0);
    padding: 6px;
    border-radius: 2px;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
    font-size: 9pt;
    text-align: center;
    transition-duration: 300;
}

.app-filter:hover {
	background-gradient-start: rgba(255,255,255,0.12);
	background-gradient-end: rgba(255,255,255,0.05);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
}

.app-filter:selected {
	background-gradient-start: rgba(61,102,102,0.35);
	background-gradient-end: rgba(61,102,102,0.15);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
    border-radius: 2px;

    color: #ffffff;
    font-weight: bold;
}

.app-filter:selected:hover {
	background-gradient-start: rgba(46,76,76,0.35);
	background-gradient-end: rgba(46,76,76,0.15);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
    border-radius: 2px;

    color: #ffffff;
    font-weight: bold;
}

.app-filter:focus {
    outline: 1px solid #d4d4d4;
}

.dash-item-container > .app-well-app {
    padding: 4px 8px;
}

.remove-favorite-icon {
    color: #a0a0a0;
    text-shadow: #222222 0px -1px 1px;
}

.remove-favorite-icon:hover {
    color: #444;
}

.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
    border-radius: 2px;
    padding: 3px;
    border: 1px rgba(0,0,0,0);
    font-size: 8.5pt;
    color: #ffffff;
    text-shadow: #222222 0px -1px 1px;
    text-align: center;
    transition-duration: 400;
}

.app-well-app.running > .overview-icon {
    background-gradient-direction: vertical;
	background-gradient-start: rgba(61,102,102,0.35);
	background-gradient-end: rgba(61,102,102,0.15);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
    border-radius: 2px;
    color: #d1d1d1;
    text-shadow: #222222 0px -1px 1px;
}

.app-well-app.running:hover > .overview-icon,
.app-well-app.running > .overview-icon:hover {
	background-gradient-start: rgba(46,76,76,0.35);
	background-gradient-end: rgba(46,76,76,0.15);
}

.contact {
    width: 164px; /* Same width as two normal results + spacing */
    height: 94px; /* Aspect ratio = 1.75. Normal US business card ratio */

    background-gradient-direction: vertical;
	background-gradient-start: rgba(46,76,76,0.35);
	background-gradient-end: rgba(46,76,76,0.15);
    border-radius: 2px;
    padding: 4px;
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
    transition-duration: 300;
}

.contact:hover,
.contact:selected,
.contact:focus {
    color: #ffffff;
	background-gradient-start: rgba(26,51,51,0.35);
	background-gradient-end: rgba(26,51,51,0.15);
}

.contact-content {
    border-radius: 2px;
    padding: 2px;
    width: 156px;
    height: 86px;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
    text-align: center;
}

.contact-content: hover {
    color: #ffffff;
}

.contact-icon {
    border-radius: 2px;
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
}

.contact-details {
  padding: 6px 0px 6px 12px;
}

.contact-details-alias {
  font-size: 12pt;
  color: #d4d4d4;
  text-shadow: #222222 0px -1px 1px;
  font-weight: 100;
  font-style: oblique;
  padding-bottom: 12px;
}

.contact-details-status {
  font-size: 10pt;
}

.contact-details-status-icon {
  padding-right: 2px;
}

.app-well-app:hover > .overview-icon,
.remove-favorite:hover > .overview-icon,
.search-result-content:hover > .overview-icon {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.12);
	background-gradient-end: rgba(255,255,255,0.05);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 2px;
	padding: 3px;
}
.app-well-app:selected > .overview-icon,
.search-result-content:selected > .overview-icon,
.app-well-app:focus > .overview-icon,
.search-result-content:focus > .overview-icon {
    background-gradient-direction: vertical;
	background-gradient-start: rgba(61,102,102,0.35);
	background-gradient-end: rgba(61,102,102,0.15);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
    color: #ffffff;
    text-shadow: #222222 0px -1px 1px;

    transition-duration: 300;
}

.search-result-content:selected:hover > .overview-icon,
.search-result-content:focus:hover > .overview-icon,
.search-result-content:selected > .overview-icon:hover,
.search-result-content:focus > .overview-icon:hover {
	background-gradient-start: rgba(46,76,76,0.35);
	background-gradient-end: rgba(46,76,76,0.15);
}

.app-well-menu {
    font-size: 8.5pt;
}
/* ################################################## */
/*                   LookingGlass                     */
/* ################################################## */
#LookingGlassDialog
{
    background-color: rgba(200,200,200,0.8);
  spacing: 4px;
  padding: 4px;
  border: 2px solid rgba(70,100,100,0.3);

  color: rgba(70,100,100,1);
}

#LookingGlassDialog > #Toolbar
{
  border: 1px solid rgba(70,100,100,0.3);
  border-radius: 4px;
}

#LookingGlassDialog .labels {
  spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
  border: 1px solid rgba(70,100,100,0);
  padding: 2px;
  color: rgba(70,100,100,1);
  text-shadow: #222222 0px -1px 1px;
}

#LookingGlassDialog .notebook-tab:hover {
  border: 1px solid rgba(70,100,100,0);
  color: rgba(70,100,100,1);
  text-shadow: #222222 0px -1px 1px;
}

#LookingGlassDialog .notebook-tab:selected {
  border: 1px solid rgba(70,100,100,1);
  border-radius: 4px;
  padding: 5px;
}

#LookingGlassDialog .lg-inspector-title {
    font-weight: bold;
    padding-bottom: 8px;
}

.lg-dialog StLabel
{
  color: rgba(70,100,100,1);
}

.lg-dialog StEntry
{
  color: rgba(70,100,100,1);
}

.lg-obj-inspector-title
{
  spacing: 4px;
}

.lg-obj-inspector-button
{
  border: 1px solid rgba(70,100,100,0.3);
  padding: 4px;
  border-radius: 4px;
}

.lg-obj-inspector-button:hover
{
  border: 1px solid rgba(70,100,100,1);
}

.lg-dialog .shell-link
{
  color: rgba(70,100,100,1);
}

.lg-dialog .shell-link:hover
{
  color: rgba(47,230,219,1);
}

#LookingGlassDialog StBoxLayout#EvalBox
{
  padding: 4px;
  spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea
{
  spacing: 4px;
}

#lookingGlassExtensions {
    padding: 4px;
    spacing: 6px;
}

.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}

.lg-extension {
    border: 1px solid rgba(70,100,100,1);
    border-radius: 4px;
    padding: 4px;
}

.lg-extension-name {
    font-weight: bold;
}

.lg-extension-actions {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid grey;
    border-radius: 4px;
    padding: 6px;
    color: rgba(70,100,100,1);
}
/* ################################################## */
/*                  Calendar Popup                    */
/* ################################################## */
#calendarArea {
    /* this is the width of the entire popup */
    min-width: 500px;
}

.calendar-vertical-separator {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(111,111,111,0.7);
    background-gradient-end: rgba(63,63,63,0.0);
    width: 0.1em;
}

#calendarPopup {
    border-radius: 5px;
    background: rgba(0,0,0,0.9);
    border: 1px solid rgba(128,128,128,0.45);
    color: #777;
}

#calendarPopup .calendar {
    padding: 10px;
}

.calendar {
    padding: .4em 1.75em;
    spacing-rows: 2px;
    spacing-columns: 2px;
}

.calendar-month-label {
    color: #809999;
    font-size: 8.5pt;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: bold;
    text-align: center;
}

.calendar-change-month-back {
    width: 18px;
    height: 12px;
    border-radius: 2px;
	border: 1px solid rgba(0,0,0,0);
    background-image: url("calendar-arrow-left.svg");
}

.calendar-change-month-back:rtl {
    background-image: url("calendar-arrow-right.svg");
}

.calendar-change-month-forward {
    width: 18px;
    height: 12px;
    border-radius: 2px;
	border: 1px solid rgba(0,0,0,0);
    background-image: url("calendar-arrow-right.svg");
}

.calendar-change-month-forward:rtl {
    background-image: url("calendar-arrow-left.svg");
}

.calendar-change-month-back:hover,
.calendar-change-month-forward:hover {
	background-color: rgba(255,255,255,0.08);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
}

.calendar-change-month-back:active,
.calendar-change-month-forward:active {
	background-color: rgba(100,100,100,0.08);
}

.datemenu-date-label {
    padding: .2em 2em;
    font-size: 10.5pt;
    color: #809999;
    text-shadow: #222222 0px -1px 1px;
    font-weight: bold;
    text-align: center;
}

.calendar-day-base {
    padding: 2px;
    font-size: 7.5pt;
    text-align: center;
    width: 2.4em;
    height: 2.4em;
    border-radius: 2px;
    text-shadow: #222222 0px -1px 1px;
}

.calendar-day-base:hover,
.calendar-day-base:active {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.12);
	background-gradient-end: rgba(255,255,255,0.05);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
	padding: 1px;
    font-weight: bold;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
}

.calendar-day-heading {
    color: #809999;
    padding-top: 1em;
}

.calendar-week-number {
    color: #809999;
    font-weight: bold;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
    border-top-width: 0;
    border-left-width: 0;
}
.calendar-day-top {
    border-top-width: 1px;
}
.calendar-day-left {
    border-left-width: 1px;
}

.calendar-work-day {
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
}

.calendar-nonwork-day {
    color: #008c8c;
    text-shadow: #222222 0px -1px 1px;
}

.calendar-nonwork-day:hover {
    color: #008c8c;
}

.calendar-today {
    font-weight: bold;
    color: #008c8c;
    text-shadow: #222222 0px -1px 1px;
    border-radius: 2px;
}

.calendar-other-month-day {
     color: rgba(40,120,120,0.7);
}

.calendar-day-with-events {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.12);
	background-gradient-end: rgba(255,255,255,0.05);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
    font-weight: bold;
    color: #555;
    border-radius: 2px;
}

.events-header-vbox {
    spacing: 6pt;
    padding-right: 1.75em;
}

.events-header-vbox:rtl {
    padding-right: 0em;
    padding-left: 1.75em;
}

.events-header-hbox {
    padding: 0.3em;
}

.events-day-header {
    font-size: 9pt;
    font-weight: bold;
    color: #809999;
    padding-left: 1.8em;
    padding-top: 0.8em;
}

.events-day-header:rtl {
    padding-left: 0em;
    padding-right: 0.3em;
}

.events-day-dayname {
    font-size: 9pt;
    color: #809999;
    text-shadow: #222222 0px -1px 1px;
    text-align: left;
}

.events-day-dayname:rtl {
    text-align: right;
}

.events-day-time {
    font-size: 9pt;
    color: #809999;
    text-align: right;
    text-shadow: #222222 0px -1px 1px;
}

.events-day-time:rtl {
    text-align: left;
}

.events-day-task {
    font-size: 9pt;
    color: #666;
}

.events-day-name-box {
    min-width: 15pt;
}

.events-time-box {
    min-width: 53pt;
    padding-right: 6pt;
}

.events-time-box:rtl {
    padding-right: 0px;
    padding-left: 6pt;
}

.events-event-box {
}

.url-highlighter {
    link-color: #555;
}

/* ################################################## */
/*                     MessageTray                    */
/* ################################################## */
/* lower bar */
#message-tray {
    background-color: transparent;
    
    border-radius: 0px;

    height: 32px;
    font-size: 8.5pt;
}

#notification {
    font-size: 8.5pt;    
    background-gradient-direction: vertical;
	background-gradient-start: rgba(55,55,55,0.75);
	background-gradient-end: rgba(55,55,55,0.55);
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.15);
	border: 1px solid rgba(255,255,255,0.15);
  border-bottom: none;
    border-radius: 2px 2px 0px 0px;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
    padding: 4px;
    spacing-rows: 10px;
    spacing-columns: 10px;
    width: 34em;
}

.multi-line-notification {
    padding-bottom: 8px;
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
   taken into account during allocation, so its height ends up being limited by the height
   of the content in the other rows. To avoid showing a stretched image, we set the minimum
   height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
    min-height: 159px;
}

.summary-boxpointer {    
	background-gradient-direction: vertical;
	background-gradient-start: rgba(75,75,75,0.98);
	background-gradient-end: rgba(53,53,53,0.95);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 2px;
}

.summary-boxpointer #notification {
	background-gradient-direction: vertical;
	background-gradient-start: transparent;
	background-gradient-end: transparent;
  background: transparent;
  padding-bottom: 8px;
  border-radius: 4px;
  border: none;
	box-shadow: inset 0px 0px 1px 1px transparent;
  color: #d4d4d4;
  text-shadow: #222222 0px -1px 1px;
}

.summary-boxpointer #summary-right-click-menu {
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
    font-size: 8.5pt;
    padding: 4px;
}

#summary-notification-stack-scrollview {
    max-height: 18em;
    padding-top: 6px;
    padding-bottom: 6px;
}

#summary-notification-stack-scrollview > .top-shadow, #summary-notification-stack-scrollview > .bottom-shadow {
    height: 1em;
}

#summary-notification-stack-scrollview:ltr {
    padding-right: 8px;
}

#summary-notification-stack-scrollview:rtl {
    padding-left: 8px;
}

#notification-scrollview {
    max-height: 10em;
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
    height: 1em;
}

#notification-scrollview:ltr > StScrollBar {
    padding-left: 6px;
}

#notification-scrollview:rtl > StScrollBar {
    padding-right: 6px;
}

#notification-body {
    spacing: 5px;
}

#notification-actions {
    spacing: 5px;
}

.notification-button {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.12);
	background-gradient-end: rgba(255,255,255,0.05);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
  border-radius: 2px;
    color: #ffffff;
    text-shadow: #222222 0px -1px 1px;
    padding: 5px 8px;
}

.notification-icon-button {
    border: 1px rgba(0,0,0,0.0);
    border-radius: 2px;
    padding: 5px;
}

.notification-icon-button:hover,
.notification-icon-button:focus,
.notification-icon-button:active {
    border-radius: 2px;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
    border: 1px solid rgba(111,111,111,0.5);
}

.notification-icon-button > StIcon {
    icon-size: 16px;
}

.hotplug-transient-box {
    spacing: 6px;
    padding: 2px 72px 2px 12px;
}

.hotplug-notification-item {
    padding: 2px 10px;
    border-radius: 2px;
    font-size: 8pt;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
}

.hotplug-notification-item:focus,
.hotplug-notification-item:hover, {
    color: #ffffff;
    text-shadow: #222222 0px -1px 1px;
    font-weight: bold;
}

.hotplug-notification-item-icon {
    icon-size: 24px;
    padding: 2px 5px;
}

.hotplug-resident-box {
    spacing: 8px;
    border: 1px solid rgba(150,150,150,0.0);

    border-radius: 4px;
    padding: 6px;
}

.hotplug-resident-mount {
    background-gradient-direction: vertical;
	  background-gradient-start: rgba(255,255,255,0.12);
	  background-gradient-end: rgba(255,255,255,0.05);
	  box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
  	border: 1px solid rgba(0,0,0,0.15);
    spacing: 8px;
    border-radius: 2px;
    transition-duration: 300;
    color: #d4d4d4;
}

.hotplug-resident-mount:hover {
	  background-gradient-start: rgba(255,255,255,0.24);
	  background-gradient-end: rgba(255,255,255,0.10);
    color: #ffffff;
    font-weight: bold;
}

.hotplug-resident-mount-label {
    color: inherit;
    padding-left: 6px;
}

.hotplug-resident-mount-icon {
    icon-size: 20px;
    padding-left: 6px;
}

.hotplug-resident-eject-icon {
    icon-size: 16px;
}

.hotplug-resident-eject-icon:hover {
  	icon-shadow: black 0px 0px 3px;
}

.hotplug-resident-eject-button {
    background-gradient-direction: vertical;
	  background-gradient-start: rgba(255,255,255,0.12);
	  background-gradient-end: rgba(255,255,255,0.05);
	  box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
  	border: 1px solid rgba(0,0,0,0.15);
    padding: 6px;
    border-radius: 2px;
    color: #d4d4d4;
    height: 1.5em;
    font-size: 9pt;
    text-align: center;
    transition-duration: 300;
}

.hotplug-resident-eject-button:hover {
	  background-gradient-start: rgba(255,255,255,0.24);
	  background-gradient-end: rgba(255,255,255,0.10);
}

.chat-log-message {
    color: #888888;
}

.chat-received {
    border: 1px solid rgba(79,139,8,0.5);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #555;
    padding-left: 4px;
}

.chat-received:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.chat-sent {
    border: 1px solid rgba(79,139,8,0.2);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #d4d4d4;
    padding-left: 4px;
    padding: 4px;
}

.chat-sent:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.chat-meta-message {
    padding-left: 4px;
    border-radius: 4px;
    font-size: 9pt;
    color: #555;
}

.chat-meta-message:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

#notification StEntry {
  padding: 8px;
  transition-duration: 300;
	border-radius: 2px;
	color: #2c2c2c;
	border: 1px solid rgba(255,255,255,0.8);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.85);
	background-gradient-end: rgba(255,255,255,1.0);
	box-shadow: 0px 0px 2px 2px rgba(38,76,76,0.6);
	selected-color: black;
	caret-color: rgb(128, 128, 128);
	caret-size: 1px;
	height: 16px;
	width: 250px;
}

/* The spacing and padding on the summary is tricky; we want to keep
 * the icons from touching each other or the edges of the screen, but
 * we also want them to be "Fitts"-y with respect to the edges, so the
 * summary area's bottom and right padding must actually be part of
 * the icons. However, we can't put *all* of the padding into the
 * icons, because then the summary would be 0x0 when there were no
 * icons in it, and so you wouldn't be able to hover over it to
 * activate it.
 *
 * Also, the spacing between a summary-source's icon and title is
 * actually specified as padding-left in source-title, because we
 * want the spacing to collapse along with the title.
 */
#summary-mode {
  background-gradient-direction: vertical;
	background-gradient-start: rgba(55,55,55,0.60);
	background-gradient-end: rgba(55,55,55,0.40);
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.15);
	border: 1px solid rgba(255,255,255,0.15);
	border-radius: 1px 0px 0px 0px;
	
    border-right: none;
    border-bottom: none; 
    
    padding: 2px 0px 2px 2px;
    height: 28px;
}

#summary-mode:rtl {
    padding: 2px 2px 2px 0px;
}

.summary-source-button {
    padding: 2px;
    color: #ffffff;
    font-weight: normal;
}

.summary-source-button:ltr {
}

.summary-source-button .summary-source {
	background-gradient-direction: vertical;
	background-gradient-start: transparent;
	background-gradient-end: transparent;
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0);
	border: 1px solid rgba(0,0,0,0);
}

.summary-source-button:hover .summary-source {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.12);
	background-gradient-end: rgba(255,255,255,0.05);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
}

.summary-source-button:selected .summary-source {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(46,76,76,0.75);
	background-gradient-end: rgba(46,76,76,0.55);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
  color: #d4d4d4;
}

.summary-source-button:expanded:selected .summary-source {
}

.summary-source-button:expanded:selected {
}

.summary-source-button:rtl {
    padding-left: 12px;
}

.summary-source-button:last-child:ltr {
    padding-right: 12px;
}

.summary-source-button:last-child:rtl {
    padding-left: 12px;
}

.summary-source {
    padding-right: 4px;
    padding-left: 4px;
}

.summary-source > StIcon {
    icon-size: 16px;
    width: 16px;
    height: 16px;
}

.source-title {
    font-size: 8.5pt;
    font-weight: normal;
    padding-left: 4px;
}

.source-title:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

/* App Switcher */
#altTabPopup {
    padding: 8px;
    spacing: 16px;
}

.switcher-list {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(80,80,80,0.8);
	background-gradient-end: rgba(80,80,80,0.7);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
  border-radius: 2px;
    padding: 20px;
    font-weight: bold;
    color: #d4d4d4;
    font-size: 9pt;
}

.switcher-list-item-container {
    spacing: 8px;
}

.thumbnail-scroll-gradient-left {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 1.0);
    background-gradient-end: rgba(51, 51, 51, 0);
    border-radius: 24px;
    border-radius-topright: 0px;
    border-radius-bottomright: 0px;
    width: 60px;
}

.thumbnail-scroll-gradient-right {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 0);
    background-gradient-end: rgba(51, 51, 51, 1.0);
    border-radius: 24px;
    border-radius-topleft: 0px;
    border-radius-bottomleft: 0px;
    width: 60px;
}

.switcher-list .item-box {
    padding: 8px;
    border-radius: 2px;
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.12);
	background-gradient-end: rgba(255,255,255,0.05);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
    color: #d4d4d4;
}

.switcher-list .item-box:outlined,
.switcher-list .item-box:selected {
    background-gradient-direction: vertical;
	background-gradient-start: rgba(61,102,102,0.5);
	background-gradient-end: rgba(61,102,102,0.3);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
    color: #ffffff;

}

.switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail {
    width:  256px;
}

.switcher-list .separator {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(131,131,131,0.9);
    background-gradient-end: rgba(93,93,93,0);
    width: 0.1em;
}

.ripple-box {
    width: 52px;
    height: 52px;
    background-image: url("corner-ripple.png");
}

.ripple-box:rtl {
    background-image: url("corner-ripple-rtl.png");
}

.switcher-arrow {
    border-color: rgba(61,102,102,0.6);
    color: #bbb;
}

.switcher-arrow:highlighted {
    border-color: rgba(61,102,102,1);
    color: rgba(61,102,102,1);
}

/* Workspace Switcher */
.workspace-switcher-group {
    padding: 12px;
}

.workspace-switcher-container {
  border-radius: 2px;
  color: #555;
  padding: 20px;
	background-gradient-direction: vertical;
	background-gradient-start: rgba(100,100,100,0.80);
	background-gradient-end: rgba(100,100,100,0.70);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
}

.workspace-switcher {
    background: transparent;
    border: 0px;
    border-radius: 2px;
    padding: 0px;
    spacing: 20px;
}

.ws-switcher-active-up {
    height: 100px;
	background-color: rgba(61,102,102,0.3);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
    border-radius: 2px;
    background-image: url("ws-switch-arrow-up.svg");
}

.ws-switcher-active-down {
    height: 100px;
	background-color: rgba(61,102,102,0.3);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
    border-radius: 2px;
    background-image: url("ws-switch-arrow-down.svg");
}

.ws-switcher-box {
    height: 96px;
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.12);
	background-gradient-end: rgba(255,255,255,0.05);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
    border-radius: 2px;
}

/* ################################################## */
/*                   Modal Dialogs                    */
/* ################################################## */

.modal-dialog {
  font-size: 10pt;
	background-gradient-start: rgba(75,75,75,0.88);
	background-gradient-end: rgba(53,53,53,0.85);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  spacing: 5px;
  padding: 24px 32px 24px 32px;
  text-shadow: #222222 0px -1px 1px;
}

.modal-dialog-button-box {
    spacing: 20px;
}

.modal-dialog-button {
  font-size: 9pt;
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px 32px 8px 32px;
  border-radius: 2px;
  color: #d4d4d4;
  text-shadow: #222222 0px -1px 1px;
  text-align: center;
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.12);
	background-gradient-end: rgba(255,255,255,0.05);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
}

.modal-dialog-button:active,
.modal-dialog-button:hover,
.modal-dialog-button:pressed,
.modal-dialog-button:focus {
	background-gradient-start: rgba(61,102,102,0.35);
	background-gradient-end: rgba(61,102,102,0.15);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
  color: #ffffff;
  text-shadow: #222222 0px -1px 1px;
  font-weight: bold;
}

/* ################################################## */
/*                      Run Dialog                    */
/* ################################################## */
.run-dialog-label {
    font-size: 9pt;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
    padding-bottom: 10px;
}

.run-dialog-error-label {
    font-size: 9pt;
    color: #ff0000;
    text-shadow: #222222 0px -1px 1px;
}

.run-dialog-error-box {
    padding-top: 10px;
    spacing: 5px;
}

.run-dialog-entry {
  font-size: 8pt;
  font-weight: normal;
	padding: 6px 8px 5px 8px;
	border-radius: 2px;
	color: #2c2c2c;
  text-shadow: #222222 0px -1px 1px;
	border: 1px solid rgba(255,255,255,0.8);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.85);
	background-gradient-end: rgba(255,255,255,1.0);
	box-shadow: 0px 0px 2px 2px rgba(38,76,76,0.6);
	selected-color: black;
	caret-color: rgb(128, 128, 128);
	caret-size: 1px;
	height: 16px;
	width: 250px;
}

.run-dialog {
    font-size: 9pt;
    font-weight: bold;
    background-gradient-direction: vertical;
	background-gradient-start: rgba(75,75,75,0.88);
	background-gradient-end: rgba(53,53,53,0.85);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;

    color: #fff;
  text-shadow: #222222 0px -1px 1px;
    padding: 10px 15px 10px 15px;
}

.lightbox {
    background-color: rgba(0, 0, 0, 0.5);
}

/* ################################################## */
/*                EndSession Dialog                   */
/* ################################################## */
.end-session-dialog {
    spacing: 42px;
}

.end-session-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: #fff;
    text-shadow: #222222 0px -1px 1px;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 30px;
}

.end-session-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.end-session-dialog-description {
    font-size: 8.5pt;
    color: #eeeeee;
    text-shadow: #222222 0px -1px 1px;
    padding-left: 17px;
    width: 28em;
}

.end-session-dialog-description:rtl {
    padding-right: 17px;
}

.end-session-dialog-logout-icon {
    border: 1px solid rgba(70,100,100,0.6);

    border-radius: 4px;
    width: 64px;
    height: 64px;
}

.end-session-dialog-shutdown-icon {
    width: 64px;
    height: 64px;
}

.end-session-dialog-app-list {
    font-size: 8.5pt;
    max-height: 200px;
    padding-top: 42px;
    padding-left: 49px;
    padding-right: 32px;
}

.end-session-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.end-session-dialog-app-list-item {
    color: #ccc;
    text-shadow: #222222 0px -1px 1px;
}

.end-session-dialog-app-list-item:hover {
    color: white;
    text-shadow: #222222 0px -1px 1px;
}

.end-session-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.end-session-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.end-session-dialog-app-list-item-name {
    font-size: 8.5pt;
}

.end-session-dialog-app-list-item-description {
    font-size: 8pt;
    color: #444;
    text-shadow: #222222 0px -1px 1px;
}

/* ################################################## */
/*         PolicyKit Authentication Dialog            */
/* ################################################## */
.polkit-dialog {
    /* this is the width of the entire modal popup */
    width: 400px;
}

.polkit-dialog-main-layout {
    spacing: 24px;
    padding: 10px;
}

.polkit-dialog-message-layout {
    spacing: 16px;
}

.polkit-dialog-headline {
    font-size: 12pt;
    font-weight: bold;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
}

.polkit-dialog-description {
    font-size: 8pt;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
}

.polkit-dialog-user-layout {
    padding-left: 10px;
    spacing: 10px;
    font-weight: 100;
    font-style: oblique;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
}

.polkit-dialog-user-layout:rtl {
    padding-left: 0px;
    padding-right: 10px;
}

.polkit-dialog-user-root-label {
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
}

.polkit-dialog-password-label {
    padding: 12px 10px 10px 0px;
    font-weight: 100;
    font-style: oblique;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
}

.polkit-dialog-password-entry {
  font-size: 8pt;
  font-weight: normal;
  transition-duration: 300;
	padding: 0px 2px;
	border-radius: 2px;
	color: #2c2c2c;
	text-shadow: #222222 0px -1px 1px;
	border: 1px solid rgba(255,255,255,0.8);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.85);
	background-gradient-end: rgba(255,255,255,1.0);
	box-shadow: 0px 0px 2px 2px rgba(38,76,76,0.6);
	selected-color: black;
	caret-color: rgb(128, 128, 128);
	caret-size: 1px;
	height: 16px;
}

.polkit-dialog-error-label {
    font-size: 8.5pt;
    color: #8b0000;
    text-shadow: #222222 0px -1px 1px;
    padding-bottom: 8px;
}

.polkit-dialog-info-label {
    font-size: 8.5pt;
    padding-bottom: 8px;
}

/* intentionally left transparent to avoid dialog changing size */
.polkit-dialog-null-label {
    font-size: 8.5pt;
    color: rgba(0,0,0,0);
    text-shadow: #222222 0px -1px 1px;
    padding-bottom: 8px;
}


/* Magnifier */

.magnifier-zoom-region {
    border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
    border-width: 0px;
}

/* On-screen Keyboard */

#keyboard {
  border-radius: 0px;
  background-gradient-direction: vertical;
	background-gradient-start: rgba(55,55,55,0.70);
	background-gradient-end: rgba(55,55,55,0.50);
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.15);
	border: 1px solid rgba(255,255,255,0.15);
	border-bottom: none;
	border-right: none;
	border-left: none;
}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 30px;
    min-width: 30px;

    font-size: 12pt;
    font-weight: bold;
    
    border-radius: 2px;

  background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.12);
	background-gradient-end: rgba(255,255,255,0.05);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);

    transition-duration: 300;
    color: #d4d4d4;
    text-shadow: #222222 0px -1px 1px;
}

.keyboard-key:grayed {
   color: #808080;
   text-shadow: #222222 0px -1px 1px;
   border-color: rgba(55,55,55,0.12);
   font-weight: normal;
	background-gradient-start: rgba(55,55,55,0.12);
	background-gradient-end: rgba(55,55,55,0.05);
}

.keyboard-key:checked,
.keyboard-key:active,
.keyboard-key:hover {
  background-gradient-direction: vertical;
	background-gradient-start: rgba(61,102,102,0.60);
	background-gradient-end: rgba(61,102,102,0.40);

  color: #ffffff;
  text-shadow: #222222 0px -1px 1px;
}

.keyboard-subkeys {
    padding: 5px;
    background-gradient-direction: vertical;
    background-gradient-start: #4e4e4e;
    background-gradient-end: #353535;
    border-radius: 10px;
    border: 5px solid rgba(150,150,150,0.0);
    spacing: 5px;
    -boxpointer-gap: 10px;
}

/* ################################################## */
/*                  Dock Extension                    */
/* ################################################## */
#dock {
    border-radius: 2px;
    background-gradient-direction: vertical;
	background-gradient-start: rgba(55,55,55,0.70);
	background-gradient-end: rgba(55,55,55,0.50);
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.15);
	border: 1px solid rgba(255,255,255,0.15);
}

/* Panel */
.dock-app {
    padding: 2px;
    border-radius: 2px;
    transition-duration: 300;
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0);
	border: 1px solid rgba(0,0,0,0);
}

.dock-app:hover {
  background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.12);
	background-gradient-end: rgba(255,255,255,0.05);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
}

.dock-app.running,
.dock-app.selected,
.dock-app.focused,
.dock-app:active {
	background-gradient-start: rgba(61,102,102,0.60);
	background-gradient-end: rgba(61,102,102,0.40);
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
	border: 1px solid rgba(0,0,0,0.15);
}

.dock-app.running:hover,
.dock-app.selected:hover,
.dock-app.focused:hover,
.dock-app:active:hover {
	background-gradient-start: rgba(46,76,76,0.6);
	background-gradient-end: rgba(46,76,76,0.4);
}

.dock-menu {
    font-size: 9pt;
}

